body {
  height: 100vh; }

#desk {
  width: 100%;
  background-color: black;
  display: flex; }

.colomn {
  margin: 2px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: aliceblue;
  flex: 1;
  padding: 0px 8px; }

.task {
  width: 100%;
  background-color: aqua;
  min-height: 128px;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box; }
  .task .title {
    font-size: 14px;
    text-align: left; }
  .task .label {
    font-size: 14px;
    font-family: Calibri; }

.title {
  font-size: 16px;
  font-family: Tahoma;
  text-align: center; }

